Logistic Regression Business Case

In [ ]:

import pandas as pd

from google.colab import drive
drive.mount('/content/drive/')

df = pd.read_csv("/content/drive/MyDrive/python practice /Proactive Attrition Management-Logistic Regression Case Study.csv")

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
display(df)

,REVENUE,MOU,RECCHRGE,DIRECTAS,OVERAGE,ROAM,CHANGEM,CHANGER,DROPVCE,BLCKVCE,...,REFER,INCMISS,INCOME,MCYCLE,CREDITAD,SETPRCM,SETPRC,RETCALL,CALIBRAT,CHURNDEP
0,57.49,482.75,37.43,0.25,22.75,0.0,532.25,50.99,8.33,1.00,...,0,0,5,0,1,0,149.99,0,0,NaN
1,82.28,1312.25,75.00,1.24,0.00,0.0,156.75,8.14,52.00,7.67,...,0,0,6,0,0,0,9.99,0,0,NaN
2,31.66,25.50,29.99,0.25,0.00,0.0,59.50,4.03,0.00,1.00,...,0,0,9,0,1,0,29.99,0,0,NaN
3,62.13,97.50,65.99,2.48,0.00,0.0,23.50,6.82,0.00,0.33,...,0,0,6,0,0,0,29.99,0,0,NaN
4,25.23,2.50,25.00,0.00,0.00,0.0,-2.50,-0.23,0.00,0.00,...,0,0,7,0,0,0,29.99,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71042,117.49,384.00,29.99,0.00,250.00,0.0,0.00,0.00,4.00,1.00,...,0,0,2,0,0,0,29.99,0,1,1.0
71043,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,...,0,0,6,0,0,1,0.00,0,1,1.0
71044,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.33,2.67,...,0,0,6,0,0,0,59.99,0,1,1.0
71045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,...,0,0,8,0,1,1,0.00,0,1,1.0
71046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.67,4.33,...,0,0,7,0,1,0,79.99,0,1,1.0

In [ ]:
df.shape

(71047, 78)

In [ ]:
shuffled = df.sample(frac=1)
display(shuffled)

,REVENUE,MOU,RECCHRGE,DIRECTAS,OVERAGE,ROAM,CHANGEM,CHANGER,DROPVCE,BLCKVCE,...,REFER,INCMISS,INCOME,MCYCLE,CREDITAD,SETPRCM,SETPRC,RETCALL,CALIBRAT,CHURNDEP
64612,31.23,106.00,39.99,1.24,0.00,0.00,1.00,-1.24,0.00,0.00,...,0,0,6,0,0,1,0.00,0,1,1.0
48156,17.16,268.50,10.00,0.50,16.25,0.16,134.50,18.85,2.67,0.33,...,0,0,4,0,0,1,0.00,0,1,0.0
46964,34.99,321.50,44.99,0.00,0.00,0.00,-43.50,0.00,2.00,5.00,...,0,0,6,0,0,1,0.00,0,1,0.0
24466,40.77,398.00,47.65,0.00,1.75,0.00,-106.00,14.88,4.33,0.67,...,0,0,7,0,0,0,29.99,0,0,NaN
43357,39.85,386.50,39.99,0.00,16.75,0.00,-36.50,-5.86,0.67,1.00,...,0,0,7,0,0,1,0.00,0,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59465,59.02,872.00,69.99,0.00,9.75,0.00,791.00,16.67,9.67,2.67,...,0,0,5,0,0,0,9.99,0,1,1.0
5520,42.49,82.75,42.49,0.00,0.00,0.00,-82.75,0.00,0.67,0.00,...,0,1,0,0,0,1,0.00,0,0,NaN
20463,60.32,953.50,59.99,2.23,27.00,0.00,50.50,-4.03,0.00,0.00,...,1,1,0,0,0,1,0.00,0,0,NaN
18638,43.99,377.00,39.99,0.00,0.00,0.00,18.00,0.00,13.33,0.00,...,0,0,7,0,0,1,0.00,0,0,NaN
35683,25.72,17.75,25.00,0.00,3.00,0.00,24.25,2.16,0.33,0.00,...,0,0,5,0,0,1,0.00,0,1,0.0

In [ ]:


from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

shuffled = shuffled.drop(['CSA'], axis=1)

X = shuffled.drop(['CHURN'], axis=1)
y = shuffled['CHURN']

In [ ]:
display(X)

,REVENUE,MOU,RECCHRGE,DIRECTAS,OVERAGE,ROAM,CHANGEM,CHANGER,DROPVCE,BLCKVCE,...,REFER,INCMISS,INCOME,MCYCLE,CREDITAD,SETPRCM,SETPRC,RETCALL,CALIBRAT,CHURNDEP
64612,31.23,106.00,39.99,1.24,0.00,0.00,1.00,-1.24,0.00,0.00,...,0,0,6,0,0,1,0.00,0,1,1.0
48156,17.16,268.50,10.00,0.50,16.25,0.16,134.50,18.85,2.67,0.33,...,0,0,4,0,0,1,0.00,0,1,0.0
46964,34.99,321.50,44.99,0.00,0.00,0.00,-43.50,0.00,2.00,5.00,...,0,0,6,0,0,1,0.00,0,1,0.0
24466,40.77,398.00,47.65,0.00,1.75,0.00,-106.00,14.88,4.33,0.67,...,0,0,7,0,0,0,29.99,0,0,NaN
43357,39.85,386.50,39.99,0.00,16.75,0.00,-36.50,-5.86,0.67,1.00,...,0,0,7,0,0,1,0.00,0,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59465,59.02,872.00,69.99,0.00,9.75,0.00,791.00,16.67,9.67,2.67,...,0,0,5,0,0,0,9.99,0,1,1.0
5520,42.49,82.75,42.49,0.00,0.00,0.00,-82.75,0.00,0.67,0.00,...,0,1,0,0,0,1,0.00,0,0,NaN
20463,60.32,953.50,59.99,2.23,27.00,0.00,50.50,-4.03,0.00,0.00,...,1,1,0,0,0,1,0.00,0,0,NaN
18638,43.99,377.00,39.99,0.00,0.00,0.00,18.00,0.00,13.33,0.00,...,0,0,7,0,0,1,0.00,0,0,NaN
35683,25.72,17.75,25.00,0.00,3.00,0.00,24.25,2.16,0.33,0.00,...,0,0,5,0,0,1,0.00,0,1,0.0

In [ ]:
display(y)

64612    1
48156    0
46964    0
24466    0
43357    0
        ..
59465    1
5520     0
20463    0
18638    0
35683    0
Name: CHURN, Length: 71047, dtype: int64

In [ ]:
import numpy as np
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(X)
X = imputer.transform(X)

In [ ]:



X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

logreg = LogisticRegression()
logreg.fit(X_train, y_train)

y_pred = logreg.predict(X_test)
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(accuracy_score(y_test, y_pred)))

Accuracy of logistic regression classifier on test set: 0.71